@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	scroll-behavior: smooth;
	background-color: #1c1e24;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.navbar {
	background-color: #2a3a50;
	display: flex;
	height: 75px;
	align-items: center;
	color: white;
	justify-content: space-between;
	padding: 0 15px 0 35px;
}
.navbar .logo {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
}

.nav-links {
	display: flex;
}
.nav-links li {
	margin: 0 8px;
}
.nav-links a {
	color: aliceblue;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.8px;
}
.nav-links a:hover,
.nav-links a.active {
	padding: 5px;
	background-color: aliceblue;
	color: #2a3a50;
	transition: all 0.3s ease-out;
	border-radius: 4px;
}

.navbar .menu-btn i {
	color: aliceblue;
	font-size: 22px;
	cursor: pointer;
	display: none;
	margin-right: 35px;
}
#click:checked ~ .menu-btn i::before {
	content: "\f00d";
}
#click:checked ~ .menu-btn i:hover {
	color: red;
}

#click {
	display: none;
}

/*adding media queries*/
@media screen and (min-width: 200px) and (max-width: 768px) {
	.navbar .logo {
		font-size: 24px;
		font-weight: 500;
		line-height: 26px;
	}
}

@media screen and (max-width: 930px) {
	.navbar .nav-links {
		position: fixed;
		top: 75px;
		background-color: #44495c;
		color: #2a3a50;
		left: -100%;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.5s ease;
	}

	#click:checked ~ .nav-links {
		left: 0;
	}

	.navbar .nav-links li {
		margin: 40px 0;
		color: #2a3a50;
	}

	.navbar .nav-links li a {
		font-size: 20px;
		font-weight: 500;
		display: block;
	}

	.nav-links a:hover,
	.nav-links a.active {
		padding: 5px;
		background: none;
		color: cyan;
		transition: all 0.3s ease-out;
		border-radius: 4px;
	}

	.navbar .menu-btn i {
		display: block;
	}
}

/*styling the about page*/

.container {
	display: flex;
	justify-content: space-between;
}

.container .image img {
	height: 70%;
	width: 66%;
	margin: 15px 5px 10px 40px;
	padding: 15px;
	border-radius: 30px;
}
.container .intro {
	height: 70%;
	width: 50%;
	margin: 15px 15px 10px 0px;
	color: aliceblue;
}
.intro-title {
	margin-top: 60px;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 700;
}

.intro-title1 {
	margin-top: 0px;
	margin-bottom: 100px;
	font-size: 18px;
	font-weight: 700;
}
.about {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 500;
}

@media screen and (min-width: 990px) and (max-width: 1039px) {
	.container .image img {
		height: 70%;
		width: 70%;
		margin: 55px 5px 10px 10px;
		padding: 15px;
		border-radius: 30px;
	}
}

@media screen and (min-width: 768px) and (max-width: 989px) {
	.container .image img {
		height: 460px;
		width: 410px;
		margin: 40px 5px 10px 10px;
		padding: 10px;
		border-radius: 25px;
	}

	.container .intro {
		height: 500px;
		width: 40%;
		margin: 15px 15px 10px 0px;
		color: aliceblue;
	}
	.intro-title {
		margin-top: 30px;
		margin-bottom: 10px;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: 700;
	}

	.intro-title1 {
		margin-top: 0px;
		margin-bottom: 80px;
		font-size: 18px;
		font-weight: 700;
	}
	.about {
		margin-top: 10px;
	}
}

/*@media screen and (min-width: 660px) and (max-width: 768px) {
	.container {
		display: block;
		justify-content: unset;
	}
	.container .image img {
		margin-left: 20%;
		margin-right: 20%;
	}

	.container .intro {
		margin-left: 20%;
		margin-right: 20%;
	}
}*/
@media screen and (min-width: 540px) and (max-width: 768px) {
	.container {
		display: block;
		justify-content: unset;
	}
	.container .image img {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 0px;
	}

	.container .intro {
		margin-left: 30%;
		margin-right: 20%;
	}

	.intro-title {
		margin-top: 5pxpx;
		margin-bottom: 5px;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: 700;
	}

	.intro-title1 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 700;
	}
	.about {
		margin-top: 10px;
	}
	.intro-title {
		margin-top: 15px;
	}
}

@media screen and (min-width: 275px) and (max-width: 540px) {
	.container {
		display: block;
	}
	.container .image img {
		height: 45%;
		width: 85%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0px;
	}
	.container .intro {
		width: 85%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0px;
		text-align: center;
	}
	.intro-title {
		margin-top: 5pxpx;
		margin-bottom: 5px;
		text-transform: capitalize;
		font-size: 20px;
		font-weight: 700;
	}

	.intro-title1 {
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 15px;
		font-weight: 700;
	}
	.about {
		margin-top: 10px;
	}
	.intro-title {
		margin-top: 15px;
	}
}

/*styling the footer section*/
.footer {
	background-color: #2a3a50;
}
.footer-container {
	display: flex;
	margin-top: 0px;
	color: aliceblue;
	justify-content: space-between;
	padding: 15px 30px 15px 30px;
}
.footer-container ul li {
	margin: 10px 0 5px 0;
}
.footer-container ul li a {
	color: aliceblue;
}
.footer-container ul li a:hover {
	background-color: aliceblue;
	color: #2a3a50;
	transition: all 0.3s ease-out;
	padding: 4px;
	border-radius: 3px;
}
.footer-container i {
	margin: 0 5px 0 5px;
}

.footer-container p {
	margin: 5px 0 10px 0;
	font-size: 26px;
	font-weight: 600;
}

.footer .rights {
	text-align: center;
	margin-bottom: 15px;
	color: aliceblue;
	padding-bottom: 18px;
}

@media screen and (min-width: 321px) and (max-width: 650px) {
	.footer-container {
		display: block;
		margin-top: 25pxpx;
		justify-content: space-between;
		padding: 5px 10px 5px 10px;
		text-align: center;
	}
	.footer {
		margin-top: 25px;
	}
}

@media screen and (min-width: 280px) and (max-width: 320px) {
	.footer-container {
		display: block;
		margin-top: 25px;
		justify-content: space-between;
		padding: 5px 10px 5px 10px;
		text-align: center;
	}
	.footer {
		margin-top: 90px;
	}
}
